@charset "utf-8";
@import url(normalize.css);
@import url(../calculator/calculator.css);
@import url(mediaquery.css);
@import url(sizecolor.css);

html {
	font-size: 10px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

/*메뉴가 열렸을때 본문이 스크롤 되지 않는다.*/
html.open {
	/*	overflow: hidden;*/
}

body {
	position: relative;
}

button:focus {
	outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* 사이즈 pc: 800px */
.wrap {
	max-width: 800px;
	width: 96%;
	margin: auto;
}

/*헤더 영역*/
header {
	text-align: center;
}

header h1 {
	height: 40px;
	line-height: 40px;
}

header h1 img {
	height: 30px;
	padding: 5px;
}

header h1 span {
	display: inline-block;
	vertical-align: top;
	transition: all 0.3s;
}

/*nav*/
nav .btn-menu {
	position: absolute;
	top: 8px;
	right: 12px;
	cursor: pointer;
}

nav .btn-close {
	position: absolute;
	top: 8px;
	right: 12px;
	cursor: pointer;
	z-index: 3;
}

nav .menu-box {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 2;
}

nav .menu-list {
	position: absolute;
	top: 40px;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
	z-index: 3;
}
nav .menu-list p {
	padding: 10px 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid;
	font-weight: bold;
}
nav .menu-list ul {
	line-height: 40px;
}
nav .menu-list h4 {display: inline;}
nav .menu-list > p + ul > li:nth-child(odd) {
	border-bottom: 1px solid;
}
nav .menu-list ul > li > span {
	float: right;
}
nav .menu-list ul img {
	vertical-align: middle;
	width: 20px;
	margin-right: 10px;
	transform: translateY(-2px);
	filter: hue-rotate(240deg);
}
nav .menu-list ul ul {
	padding-left: 35px;
}	
nav .menu-list ul ul > li {
	position: relative;
}
nav .menu-list ul ul > li span {
	position: absolute;
	animation: slidein-nav 0.3s alternate infinite;
}
@keyframes slidein-nav {
	0% {
		transform: translateX(5px)
	}

	100% {
		transform: translateX(10px)
	}
}
.ct-wrap {
	position: absolute;
	top: 0px;
	z-index: 3;
}

nav .btn-menu,
nav .btn-close,
nav .menu-box,
nav .menu-list,
.ct-wrap {
	display: none;
}

nav .btn-menu.open,
nav .btn-close.open,
nav .menu-box.open,
.ct-wrap.open {
	display: block;
}

/*main*/
/*계산기 선택하기*/
.select-box {
  position: relative;
  width: 100%;
	font-weight: bold;
}

.select-box .options-container {
  position: absolute;
  top: 66px;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.2s;
  overflow: hidden;
	-ms-overflow-style: none; 
	z-index: 1;
}

.selected {
  position: absolute;
  top: 20px;
  width: 100%;
	padding: 11px 24px;
  cursor: pointer;
	box-sizing: border-box;
}

.selected::after {
  content: "";
  background: url("../img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 8px;
  top: 5px;
  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
	display: none;
  width: 8px;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  border-radius: 0 8px 8px 0;
}

.select-box .option {
  padding: 12px 24px;
  cursor: pointer;
	box-sizing: border-box;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
.blank-box1 {
	height: 80px;
}

/*main section*/
main section {
	display: none;
}

main section.on {
	display: block;
}

main section fieldset {
	padding: 6px 14px 20px;
}

main section fieldset img {
	height: 13px;
}

main section li {
	text-align: center;
}

main section li:nth-child(odd) {
/*	width: 82%;*/
	height: 28px;
	line-height: 28px;
	margin-bottom: 4px;
	font-size: 1.4rem
}
main section li:nth-child(odd) span:first-child {
	display: inline-block;
	text-align: left;
}
main section li:nth-child(odd) span:last-child {
	display: inline-block;
	margin-left: 4px;
	width: 84px;
}
main section li:last-child {
	margin-bottom: 30px;
}

main section input[type="number"] {
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
	border-radius: 15px 0 0 15px;
}
main section input[type="number"]:focus {
	outline: none;
}

main section .input-reset-btn {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding-right: 10px;
	cursor: pointer;
	transition: all 0.1s;
	border-radius: 0 15px 15px 0;
}

main section .input-reset-btn:active {
	color: #fff;
}

main section .input-reset-btn:focus {
	outline: none;
}
main section li span {vertical-align: middle;}

main section li .input-won {display: inline-block; height: 36px; line-height: 36px; width: 60px; margin-left: 4px; padding: 0 4px; text-align: center; box-sizing: border-box; border-radius: 15px;}

/*main select#unit-box*/
main section select {
	-ms-text-align-last: center;
  -moz-text-align-last: center;
	text-align-last: center;
	width: 60px;
	height: 36px;
	line-height: 36px;
	padding: 0 2px;
	margin-left: 4px;
	font-weight: bold;
	vertical-align: middle;
	border-radius: 15px;
	cursor: pointer;
}
main section select:focus {
	outline: none;
}

main section .button {width: 100%;}

main section .result-box span {font-weight: bold;}

main section .result-box p {
	text-align: center;
	font-size: 2.2rem;
	line-height: 2.2rem;
}

main section .result-box p:not(:last-child) {
	margin-bottom: 10px;
}

main section [class^="manual-"],
main section .btn-calc {
	overflow: hidden;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px 0px 25px;
}

main [class ^= "btn-box"] {
	padding: 4px 14px 6px;
}

main .c-cal input[type="radio"]:last-of-type {
	margin-left: 10px;
}

main .c-cal .result-box p:nth-child(n+3) {
	font-weight: bold;
}

/*배너광고*/
.banner-box {
	text-align: center;
}
/*쿠팡광고*/
.banner-box .coupang-con1 {
	margin-top: 20px;
	padding: 0 14px;
}

.banner-box .coupang-con1 p {
	font-weight: bold;
	margin-bottom: 20px;
}

.banner-box .coupang-con2 {
	margin-top: 30px;
	font-size: 0;
}

.banner-box .coupang-con2 div {
	display: inline-block;
}

.banner-box .coupang-con3 {
	margin-top: 30px;
	font-size: 0;
}

.banner-box .coupang-con3 a {
	display: inline-block;
	margin-bottom: 10px;
}

/*쿠파스 문구 : 폰트크기*/
.banner-box .coupas {
	margin-top: 3px;
	padding: 0 13px;
	font-size: 1.2rem;
}

/*쿠팡 배너 광고*/
.banner-box .banner2 {
	width: 100%;
	font-size: 0;
	margin-top: 20px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	background: linear-gradient(315deg, #A9C9FF 0%, #FFBBEC 100%);
}

.banner-box .banner2 a {display: block; line-height: 140px;}

/*자체 배너 광고*/
.banner-box .banner1 {
	width: 100%;
	margin: auto;
	background: url(../img/banner/banner_gm_800x140.png) repeat 0% 100%;
	overflow: hidden;
}
.banner-box .banner3 {
	width: 100%;
	margin: auto;
	overflow: hidden;
	background-size: auto auto;
	background-color: #ffd2d1;
	background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, #ffe1e0 10px, #ffe1e0 20px );
}
.banner-box .banner-imgbox {
	width: 100%;
}
.banner-box [class^="banner"] img {
	display: block;
	margin: auto;
	width: 100%;
	max-width: 400px;
}

/*로또번호*/
.lotto-box {
	text-align: center;
	overflow: hidden;
}
.lotto-box h4 {
	padding: 6px 14px;
}

.lotto-box #lotto-number {
font-size: 1rem;
	opacity: 0;
}

.lotto-box #btn-lotto {
	display: inline-block;
	margin-top: 6px;
	cursor: pointer;
	line-height: 20px;
}
.lotto-box #btn-lotto span {
	position: relative;
}
.lotto-box #btn-lotto span:after {
  content: '';
	position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  bottom: 0px;
  left: 50%;
  transition: all 0.3s
}
.lotto-box #btn-lotto span:hover:after {
  width: 100%;
  left: 0
}

.lotto-box #gtm-lotto {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	transform: rotateZ(170deg);
	vertical-align: middle;
	transform-origin: 50% 50%;
	transition: all 0.1s;
}
.lotto-box #btn-lotto:active #gtm-lotto,
.lotto-box #gtm-lotto:active {
	transform: rotateZ(230deg);
}
.lotto-box #canvas {
	display: block;
	margin: 10px auto 12px;
}
.lotto-box p {
	padding: 1px 14px 14px;
}
/*오늘날짜*/
.today-box {
	margin-top: 20px;
	padding: 14px 14px;
}

.today-box p {
	text-align: center;
	line-height: 2.0rem;
}
.today-box .today-box-br {height: 10px;}
.today-box .today-result {font-weight: bold;}
.today-box .day-result-month {text-decoration: underline;}

/*빈줄표시2*/
.blank-box2 {
	height: 20px;
}

/*공지사항*/
	.notice-box {display: block; width: 100%; margin-top: 20px; text-align: center; box-sizing: border-box;}
	.notice-box h4 {line-height: 30px;}
	.notice-box div {line-height: 28px; padding: 14px;}
	.notice-box p {line-height: 20px; text-align: justify;}

/*푸터*/
footer {
	margin-top: 20px;
	text-align: center;
	padding: 10px 14px;
}

footer #btn-save {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 1;
	width: 200px;
	height: 23px;
	line-height: 23px;
	margin: 10px auto;
	cursor: pointer;
	font-weight: bold;
}

footer address {
	font-style: normal;
	line-height: 20px;
}
#gtm-share-naver,
#gtm-share-katalk {
	margin-top: 10px;
	overflow: hidden;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px 0px 25px;
}
#gtm-share-naver {background: url(../img/ico_naver.jpg) no-repeat; background-color: #00ff4c; color: #00601d;}
#gtm-share-katalk {background: url(../img/ico_katalk.jpg) no-repeat; background-color: #fff175; color: #4b2b2c;}

/*팝업 메뉴얼*/
.pop-manual {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3
}

.pop-manual .pop-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pop-manual .pop-cont {
	position: relative;
	max-width: 760px;
	margin: 50px auto;
	padding: 20px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 10px;
	box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 10px;
	background: #fff;
}

.pop-manual .pop-close {
	position: absolute;
	top: 4px;
	right: 8px;
	height: 24px;
	padding: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.pop-manual .pop-cont ul li {
	padding-left: 20px;
	padding-right: 20px;
	text-indent: -20px;
}
.pop-manual .pop-cont ul li:nth-child(odd) {padding-left: 40px;}
.pop-manual .pop-cont ul li span {
	position: relative;
	animation: slidein 0.3s alternate infinite;
}

@keyframes slidein {
	0% {
		left: 0px;
	}

	100% {
		left: 5px;
	}
}

.pop-manual .pop-cont ul li p {
	width: 95%;
	margin: auto;
	line-height: 30px;
}

.pop-manual .pop-cont ul li:nth-child(odd) {
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	cursor: pointer;
}

.pop-manual .pop-cont ul li:nth-child(even) {
	padding-top: 20px;
	padding-bottom: 20px;
}

.pop-manual .pop-con-text {
	text-align: center;
	margin-top: 10px;
	padding: 10px;
}

