@charset "utf-8";

/*
@font-face {
	font-family: 'Gsans';
	src: url('../font/GmarketSansTTFLight.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
    font-family: 'Gsans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'Gsans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {font-family: 'Gsans', sans-serif;}
